body {

    font-family: "Abyssinica SIL";
    font-weight: lighter;
}

/* 未被访问的链接 */
a:link {
    color: black;
}

/* 已被访问的链接 */
a:visited {
    color: black;
}

/* 鼠标指针移动到链接上 */
a:hover {
    color: orange;
    text-decoration: none;
}

a:active {

    color: coral;
}

.top {
    font-size: 13px;
    line-height: 40px;
    background-color: #f5f5f5;
    opacity: 0.6;
}

.top .left {
    margin-left: 100px;
    float: left;
}

.top .left .phone {
    margin-right: 50px;
}

.top .right {
    float: right;
    margin-right: 30px;
}

.top .right span {
    margin-right: 30px;
}

.logoAndSearch {
    margin-top: 40px;
}

.logoAndSearch .logo {
    float: left;
}

.logoAndSearch .search {

    height: 50px;
    float: right;
    margin-right: 10px;
}

.logoAndSearch .search .form-group {
    border: 3px solid coral;
    display: inline-block;
}

.input-group-addon {
    background-color: coral;
}

.logoAndSearch .search .input-group, .form-control {
    width: 450px;
    height: 45px;
}

.search .input-group-addon {
    color: white;
}

.logoAndSearch .search a {
    margin-bottom: 70px;
    margin-left: 50px;
}

.publish {
    border-radius: 0;
    width: 200px;
    height: 50px;
    background-color: coral;
}

.hot {
    font-size: 14px;
    opacity: 0.5;
    margin-left: 500px;
    margin-top: 10px;
}

.hot span {
    margin-right: 10px;
}

.content {
    /*border: solid coral 1px;*/
}

.menu {
    border: solid coral 2px;
    background-color: coral;
    color: white;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

.menu a:link {
    color: white;
}

/* 已被访问的链接 */
.menu a:visited {
    color: white;
}

/* 鼠标指针移动到链接上 */
.menu a:hover {
    color: black;
    text-decoration: none;
}

.menu a:active {

    color: white;
}

.role {
    display: inline-block;
    width: 730px;

}

.tuiJian {
    display: inline-block;
    border: solid gainsboro 1px;
    width: 197px;
    float: right;
    margin-top: 22px;
    height: 485px;
}

.tuiJian img {
    border: solid gainsboro 1px;
    padding: 6px;
}

.like {
    opacity: 0.5;
}

.shop {
    margin-top: 50px;
}

.shop img :hover {
    transition: width 2s;
    transform: scale(2);
}

.shop .row {
    margin-top: 10px;
}

.shop .row .content {
    width: 190px;
    height: 50px;
    background-color: whitesmoke;
    text-align: center;
}

.money {
    color: orangered;
}

.presentation {
    background-color: whitesmoke;
    margin-top: 20px;
    line-height: 30px;
    font-size: 15px;
    opacity: 0.7;
}

.presentation p {
    margin-top: 10px;
    color: orangered;
}

.presentation .action {
    margin-left: 120px;
}

.title {
    margin-top: 20px;
    font-size: 17px;
    opacity: 0.8;
}

.title a {
    font-size: 13px;
    color: orangered;
    margin-left: 100px;
}

.line {
    height: 3px;
    margin-top: -10px;
    background-color: #e0e0e0;
}

.need .row {
    opacity: 0.8;
}

.need .money {
    font-size: 17px;
}

.need .row .solve {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publish1 {
    width: 250px;
    height: 40px;
    background-color: coral;
    border-radius: 0;
}

.publishText {
    color: white;
}

.story .line1 {
    background-color: gainsboro;
    width: 2px;
    height: 300px;
    display: inline-block;
}

.dynamic {
    font-size: 16px;
    color: coral;
}

.left {
    float: left;
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right {
    float: right;
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    margin-top: 150px;
    background-color: black;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* 未被访问的链接 */
footer a:link {
    color: white;
}

/* 已被访问的链接 */
footer a:visited {
    color: white;
}

/* 鼠标指针移动到链接上 */
footer a:hover {
    color: orange;
    text-decoration: none;
}

footer p a {
    margin-right: 50px;
}
