body {

    font-family: "Abyssinica SIL";
    font-weight: lighter;
}

/* 未被访问的链接 */
a:link {
    color: black;
}

/* 已被访问的链接 */
a:visited {
    color: black;
}

/* 鼠标指针移动到链接上 */
a:hover {
    color: orange;
    text-decoration: none;
}

a:active {

    color: coral;
}

.top {
    font-size: 13px;
    line-height: 40px;
    background-color: #f5f5f5;
    opacity: 0.6;
}

.top .left {
    margin-left: 100px;
    float: left;
}

.top .left .phone {
    margin-right: 50px;
}

.top .right {
    float: right;
    margin-right: 30px;
}

.top .right span {
    margin-right: 30px;
}

.logoAndSearch {
    margin-top: 40px;
}

.logoAndSearch .logo {
    float: left;
    margin-top: -10px;
}

.logoAndSearch .search {

    height: 50px;
    float: right;
    margin-right: 10px;
}

.logoAndSearch .search .form-group {
    border: 3px solid coral;
    display: inline-block;
}

.input-group-addon {
    background-color: coral;
}

.logoAndSearch .search .input-group, .form-control {
    width: 450px;
    height: 45px;
}

.search .input-group-addon {
    color: white;
}

.logoAndSearch .search a {
    margin-bottom: 70px;
    margin-left: 50px;
}

.publish {
    border-radius: 0;
    width: 200px;
    height: 50px;
    background-color: coral;
}

.middle nav {
    border: hidden;
    background-color: #ff9400;
    margin-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* 未被访问的链接 */
.middle nav a:link {
    color: white;
}

/* 已被访问的链接 */
.middle nav a:visited {
    color: black;
}

/* 鼠标指针移动到链接上 */
.middle nav a:hover {
    color: orange;
    text-decoration: none;
}

.middle nav a:active {

    color: coral;
}
.order{
    border: gainsboro 1px solid;
    width: 80%
}
.order h3{
    color: coral;
    padding: 20px;
}
.order button{
    border: hidden;
    background-color: white;
    color: coral;
}

.order .output h4{
    font-weight: 700;
    color: coral;
}
.order .output .col-lg-6{
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.order .output .col-lg-6 p{
    border-top: 1px solid gainsboro;
}

footer {
    margin-top: 150px;
    background-color: black;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* 未被访问的链接 */
footer a:link {
    color: white;
}

/* 已被访问的链接 */
footer a:visited {
    color: white;
}

/* 鼠标指针移动到链接上 */
footer a:hover {
    color: orange;
    text-decoration: none;
}

footer p a {
    margin-right: 50px;
}